.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 16px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

a {
  margin: 0 3px;
  color: cyan;
}

a:hover {
  text-decoration: none;
  color: #00ffbf;
}

.heart {
  color: #ff4d4d;
  margin-left: 3px;
}